<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'vsd-shoppinglist' %}">
                <i class="bi bi-card-checklist"></i>
                <span>Shopping List</span>
            </a>
            </li><!-- End Dashboard Nav -->
        {% endif %}

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="/">
            <i class="bi bi-question-circle"></i>
            <span>About this project</span>
        </a>
        </li><!-- End F.A.Q Page Nav -->

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'vsd-logout' %}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Logout</span>
                </a>
            </li><!-- End Logout Page Nav -->
        {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'vsd-register' %}">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
                </a>
            </li><!-- End Register Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'vsd-login' %}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li><!-- End Login Page Nav -->
        {% endif %}

    </ul>
</aside>
